@{
    ViewData["Title"] = "Home Page";
}
@model WeatherApplication.Models.WeatherViewModel

<!-- .main-content -->
<div class="hero" data-bg-image='~/images/banner.png'>
    <div class="container">
        <form method="post" class="find-location">
            @* <input type="text" id="search" placeholder="Find your location..." required> *@
            @Html.TextBoxFor(m => m.City, new { placeholder = "Find your location..." })
            
            <input asp-controller="Home" asp-action="Index" type="submit" value="Find">
        </form>

    </div>
</div>

<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">@ViewData["Day 1 Day"]</div>
                    <div class="date">@ViewData["Day 1 WordDate"]</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">@ViewData["City"]</div>
                    <div class="degree">
                        <div class="num">@ViewData["Day 1 Temp"]<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <img src=@ViewData["Day 3 Icon"] alt="" width=90>
                        </div>	
                    </div>
                    <span><img src="~/images/icon-umberella.png" alt="">@ViewData["RainProbability"] %</span>
                    <span><img src="~/images/icon-wind.png" alt="">@ViewData["WindSpeed"] km/h</span>
                    <span><img src="~/images/icon-compass.png" alt="">@ViewData["WindDirection"]</span>
                </div>
                
            </div>


            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">Forecast details</div>
                </div> <!-- .forecast-header -->
            <table class="table table-striped"  style="color:white;">
                <tr>
                    <td>
                    <img src="~/images/icon-compass.png" alt="">                        
                    </td>  
                    <td>Humidity</td>
                    <td>@ViewData["Humidity"]%</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/temperature.png" alt="">
                    </td>  
                    <td>Min Temperature</td>
                    <td>@ViewData["TempMin"] <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/temperature.png" alt="">  
                    </td>  
                    <td>Max Temperature</td>
                    <td>@ViewData["TempMax"] <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/weather-condition.png" alt="">  
                    </td>  
                    <td>Weather Condition</td>
                    <td>@ViewData["WeatherCondition"]</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/icon-compass.png" alt="">                        
                    </td>  
                    <td>Wind Direction</td>
                    <td>@ViewData["WindDirection"]</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/icon-wind.png" alt="">                        
                    </td>  
                    <td>Wind Speed</td>
                    <td>@ViewData["WindSpeed"] km/h</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/icon-umberella.png" alt="">                        
                    </td> 
                    <td>Rain Probability</td>
                    <td>@ViewData["RainProbability"]%</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/sunrise-sunset.png" alt="">  
                    </td>  
                    <td>Sunrise/Sunset</td>
                    <td>@ViewData["Sunrise"] / @ViewData["Sunset"]</td>
                </tr>
            </table>
            </div>


            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@ViewData["Day 2 Day"]</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src=@ViewData["Day 2 Icon"] alt="" width=48>
                    </div>
                    <div class="degree">@ViewData["Day 2 Max Temp"]<sup>o</sup>C</div>
                    <small>@ViewData["Day 2 Min Temp"]<sup>o</sup></small>
                </div>
            </div>
            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">@ViewData["Day 3 Day"]</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src=@ViewData["Day 3 Icon"] alt="" width=48>
                    </div>
                    <div class="degree">@ViewData["Day 3 Max Temp"]<sup>o</sup>C</div>
                    <small>@ViewData["Day 3 Min Temp"]<sup>o</sup></small>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <h2 class="section-title">Top searched cities</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="live-camera">
                        <figure method="post"class="live-camera-cover">
                            <img src="~/images/live-camera-1.jpg" alt="">
                        </figure>
                        <h3 class="location">
                            @Html.ActionLink(
                                "Pretoria", 
                                "Index", 
                                "Home", 
                                new {   
                                City = "Pretoria"
                                }, null)
                        </h3>
                        
                   
                        <small class="date">@ViewData["Day 1 WordDate"], 8:00AM</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="live-camera">
                        <figure class="live-camera-cover"><img src="~/images/live-camera-2.jpg" alt=""></figure>
                        <h3 class="location">
                            @Html.ActionLink(
                                "Cape Town", 
                                "Index", 
                                "Home", 
                                new {   
                                City = "Cape Town"
                                }, null)
                        </h3>
                        <small class="date">@ViewData["Day 1 WordDate"], 8:00AM</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="live-camera">
                        <figure class="live-camera-cover"><img src="~/images/live-camera-3.jpg" alt=""></figure>
                        <h3 class="location">
                            @Html.ActionLink(
                                "Johannesburg", 
                                "Index", 
                                "Home", 
                                new {   
                                City = "Johannesburg"
                                }, null)
                        </h3>
                        <small class="date">@ViewData["Day 1 WordDate"], 8:00AM</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="live-camera">
                        <figure class="live-camera-cover"><img src="~/images/live-camera-4.jpg" alt=""></figure>
                        <h3 class="location">
                            @Html.ActionLink(
                                "Durban", 
                                "Index", 
                                "Home", 
                                new {   
                                City = "Durban"
                                }, null)
                        </h3>
                        <small class="date">@ViewData["Day 1 WordDate"], 8:00AM</small>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main> 